SESSION_SECRET=""
EMAIL_USER=""
APP_PASSWORD=""
MONGODB_URI=""
GOOGLE_CODE=""
CLOUDINARY_SECRET=""
CLOUDINARY_APIKEY=""
CLOUDINARY_PRESET=""
CLOUDINARY_CLOUD_NAME=""
SERVER_URL=""
SSE_URL=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_SECRET="" 